header.head
	.wrapper
		.head__wrap
			.head__logo
				a.logo(href="#")
					img(src="img/logo.svg")
			.head__phone
				address.h-phone
					a(href="tel: 89507297057") 8 950 729 - 70 - 57
			.head__burger
				.burger(tab-index="1")
					span