<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.main__svg
				.line-svg
					include ../img/scene.svg
			section.page(data-anchor="nav")
				._content
					.page-content
						.wrapper
							nav.main-nav
								ul._menu.-countered
									each title in ["Вакансии", "Компаниям", "Отправить резюме", "Обучение", "Блог", ]
										li.main-nav__item
											a.main-nav__link(href="#")=title
								//- ._decor
									.main-decor
										._sheets
											svg.ico
												use(xlink:href="#ico-sheets")
						//- ._decors
							.puddles
								svg.ico
									use(xlink:href="#ico-puddles")
			section.page(data-anchor="about")
				._content.-white
					.page-content
						.wrapper
							.page-text
								._title
									.main-title Находим 
										br 
										| нужных людей
										br
										| в digital
								._text
									.text-page
										p Помогаем digital-агентствам 
											br
											| и технологическим компаниям
											br 
											| создать команду мечты
			section.page(data-anchor="text")
				._content
					.page-content
						.wrapper
							.page-text
								._title
									.main-title Почему мы?
								._text
									.text-page
										p Мы собираем и развиваем IT-команды. В этом наша цель и миссия.
										p Обычные HR-агентства не понимают специфику диджитал. Наша отрасль растёт для них слишком быстро — они просто не успевают за трендами и требованиями. Подобрать хорошего программиста, верстальщика, смм-щика — не то же самое, что найти продавца или менеджера. Нужно понимание изнутри, как работает и чем живёт digital. Так мы начали искать людей для себя. Теперь этот опыт — ваш.
			section.page(data-anchor="directions")
				._content.-white
					.page-content
						.wrapper
							nav.main-nav.-not-flex
								._title Направления
								ul._menu
									each title in ["Разработка", "Дизайн", "Маркетинг", "Клиентский сервис", "Другие направления", ]
										li.main-nav__item
											a.main-nav__link(href="#")=title
		#sprite(style="display: none")
			<!-- Эту свг нужно вставлять инклюдом, т.к. она может меняться -->
			include symbol/sprite.svg
		include inc/scripts.pug

		<!-- Этот скрипт подключать только для главной -->
		script(src="js/main-page.js")